# --- OS files ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# --- Editor files ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*

# --- Eventuali cartelle di build globali ---
dist/
build/
node_modules/